*{
    font-family: sans-serif;
}
.height img{
    height: auto;
    width: 150px;
    border: 5px;
    border-color: black;
}
.search-bar {
    display: flex;
    align-items: center;
  }
  
  #search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 10px;
    width: 950px;
   
  }
  
  #search-button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  #search-results {
    margin-top: 20px;
  }
  .row p{
    margin: 20px;
  }
  .footer{
    background-color: black;
  }
  .footer h4{
    color: gray;
    font-weight: 300;
    font-size: 18px;
  }
 .footer span{
  color: #fff;
 }
 .smart-watch{
  border: 1px solid gray;
 }
 .smart-watch img{
  margin: 50px;
  height: auto;
  width: 200px;
 }
 .button-buy button{
  padding: 10px 25px;
  margin: 30px;
  align-items: center;
  color: #fff;
  background-color: #ff9f00;
  border-radius: 5px;
  border: none;
 }
.smartwatch-info p{
  color: green;
}
#buy-now{
  background-color: #fb641b;
  padding: 10px 25px;
}
 
 